* {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
 }

 body{
   background-image: url(bg.png);
   font-family: "helvetica Neue", sans-serif;
   font-size: 13px;
 }

 h1{
   font-family: "Terminal Dosis", sans-serif;
   font-size: 52px;
 }

 header{
   width: 994px;
   margin: auto;
  padding-top: 50px;
  background-color: white;
 }

 header article{
   margin-left: 47px;
   margin-right: 47px;
 }

 nav{
   margin-top:25px;
   margin-left: 47px;
   margin-right: 47px;
   background-color: #f4f4f4;
   height: 59px;
  }

 nav ul{
   list-style-type:none;
   background-color: #FAFAFA;
 }

 nav li{
   float: left;
   width: 150px;
   margin-top: 20px;
   text-align: center;
 }

 header h1{
   display: inline-block;
 }

 #loupe{
   float: right;
   padding-top: 6px;
    padding-right: 10px;
 }

 .lienloupe{
   float: right;
   width: 34px;
   height: 22px;
   margin-top: 25px;
   background-color: #fafafa;
 }

 main{
   margin-top: 25px;
   width: 994px;
   margin: auto;
  padding-top: 50px;
  background-color: white;
 }

 #paysage{
   width: 900px;
   height: 508px;
   margin-left: 47px;
 }

.texte{
   margin-top: 38px;
 }

 .texte article{
   margin-left: 47px;
   margin-right: 47px;
   /*margin-bottom: 30px;*/
 }

 #titrearticle{
   text-align: center;
 }

 #titrearticle p{
   margin-top: 22px;
 }

 #blabla p{
   margin-top: 22px;
 }

footer{
  width: 994px;
  margin: auto;
  background-color: white;
  padding-top: 20px;
}

 .barrefinale{
  height: 40px;
  background-color: #fafafa;
  margin-right: 47px;
  margin-left: 47px;
 }

 .titrefooter{
   height: 75px;
   margin-right: 47px;
   margin-left: 47px;
   text-align: center;
   padding-top: 30px;
 }

 footer ul{
   list-style-type: none;
   margin-top: 15px;
 }

 .finalfooter article{
   float:left;
   width: 25%;
   height: 235px;
 }

 .finalfooter{
   width: 900px;
   margin: auto;
   height: 235px;
   background-color: #fafafa;
   padding-top: 15px;
   padding-left: 20px;
 }

 .finalfooter a, nav a, p a{
   text-decoration: none;
   color:inherit;
 }

 .barrenav a:hover{
    color: black;
    background: #ffc;
    /*text-decoration: underline;*/
}

.barrenav li{
    float: left;
    position: relative;
}

.menufinal{
  height: 40px;
}

.Sousmenu{
    display: none; /* Masque la sous-liste */
    position: absolute; /* Evite que la dimension du conteneur ne change quand la sous-liste est affichée */
    margin-top: 15px;
    background-color: #f4f4f4;
  }

  .barrenav li:hover .Sousmenu {
      display: block; /* Affiche cette sous-liste au survol de son conteneur */
  }

.sousmenuitem{
  padding-bottom: 10px;
}

.container{
  box-shadow: 0px 0px 11px 3px #163461;
  width: 994px;
  margin: auto;
  margin-top: 30px;
}
